node_modules
*/.env*
*/build
*.crt
*.key
.DS_Store
skaffold.exe
*/.npmrc
*/logs
models/twc-core
keys
*/*/*/*.pyc
.env
package-lock.json
*/.vscode
*/.vs
*/.idea
*/.DS_Store
*/.git
*/.gitignore
*/.gitmodules
*/.gitattributes
*/.github
*/.gitkeep
*/.gitpod
*/.gitpod.Dockerfile
*/.gitpod.yml
*/.gitpod.yml.tmpl
*/.gitpod.dockerfile
*/.gitpod.dockerfile.tmpl
*/.gitpod.dockerfile.template